<p id="notice"><%= notice %></p>		

<div class="col-sm-12" style="background-color:;">
	<div class="col-sm-3">
		<%= image_tag(@user.image, size: "200") %>

	</div>
	<div class="col-sm-3">
		<h1><%= @user.name %></h1>
		<h3><%= @user.email %></h3>
		<%= @user.genre %></br>
		Nascido em: <%= @user.birth %></br>
	</div>		
</div>



<%#= image_tag(@user.image, size: "200") %>
<%#= @user.email %>
<%#= @user.genre %>
<%#= @user.birth %>

<%#= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary btn-sm' %> 
<%#= link_to 'Back', users_path %>
