<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <img src="<%= current_user.image%>" class="img-circle" height="130" width="130">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= current_user.email%></strong>
                            </span> <span class="text-muted text-xs block"> configurações <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><%= link_to 'editar perfil' %></li>
                        <li><%= link_to 'sair' , destroy_user_session_path, method: :delete %></li>
                    </ul>
                </div>
                <div class="logo-element">
                    SF+
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/messages') %>">
                <%= link_to messages_path do %>
                <i class="fa fa-envelope"></i> <span class="nav-label">mensagens</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/friends') %>">
                <%= link_to friends_path do %>
                    <i class="fa fa-users"></i> <span class="nav-label">meus amigos</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/users') %>">
                <%= link_to users_path do %>
                    <i class="fa fa-globe"></i> <span class="nav-label">todos os usuários</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/invitations') %>">
                <%= link_to invitations_path do %>
                    <i class="fa fa-plus-circle"></i> <span class="nav-label">solicitações de amizade</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
                <%= link_to (edit_user_path(current_user)) do%>
                <i class="fa fa-user"></i> <span class="nav-label">editar perfil</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>